---
layout: default
title : about
---  
 
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ "/assets/slide01.jpg" | relative_url}}" alt="First slide">
      <div class="carousel-caption d-none d-md-block  hidden-md">
        <h1>I am </h1>
        <h2>Arthanios S Ghaly </h2>
        <h3>I am Full Stack developer, DataScientist and Machine Learning engineer.</h3>
        <p></p>
       
  </div>
    </div>
  </div>
</div>
   <section class="flow">
    <div class="flowbg">
    
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ "/assets/pro.jpg" | relative_url}}" class="img-responsive center-block" />
            </div>
            <div class="col-md-6 rt">
                <h1 class="head-border" >Arhanios S Ghaly</h1>
                <p>A junior Data Scientist with 1+ years of experience in project work and freelancere skilled in machine learning,statistics, webdevelopment, problem solving and graphic Design.</p>
<div class="more">
                    
  <div class="float-left m">
                    
   <h4>Data Science</h4>
                 <p>using R and Python</p>
                 </div>
</div>
          <div class="more">
                    
  <div class="float-left m">
                    
   <h4>Web Developer</h4>
                 <p>Using Node js,HTML,CSS,BootStrap</p>
                 </div>
</div>    


   <div class="more">
                    
   <div class="float-left m">
                    
   <h4>Full Stack</h4>
                 <p>Use C++,Java,Python,JavaFx</p>
                 </div>
</div>  
            </div>
            </div>
        </div>
    </div>

</section>
       

<div class="tabs-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-2">
                    <ul class="text-center list-unstyled tab-switch">
                        <li class="selected" data-class="tab1">Data Scince</li>
                        <li data-class="tab2">Full Stack</li>
                        <li data-class="tab3">Web</li>
                        <li data-class="tab4">Graphic</li>
                    </ul>
                </div>

   <div class="col-md-6">
                    <div class="tab-content">
                        <div class="tab1">
                            <h2>Data Scince</h2>
                            <p class="lead" >During my education and my internship at Tennessee Tech university, I had an extensive range of responsibilities including working on many projects in data science filed including some skills like selecting features, optimizing classifiers, mining data, improving data collection techniques, processing data and ML concepts and algorithms. As a Data Scientist, I was required to have excellent communication skills, understanding of algorithms, excellence in the python, knowledge of SQL, and excellence in applied statistics. Also I finished some online classes like the Data scantest path on Data Comb website which was about 20 courses using python to understand and work with data</p>
                           
   </div>

  <div class="tab2">
                            <h2>Full Stacke</h2>
                            <p class="lead" >According to software engineering ,I have experience working with C++, Java and OOP for 4 years on the school working on tens of projects in different fields and enhance my skills by side projects and learning new skills like Java FX along with DEVOPS Skills like GIT,jenkins,Docker and AWS.</p>
                            
 </div>

<div class="tab3">
                            <h2>Web Developmet</h2>
                            <p class="lead" >According to Web Development and Web design I improved my skills in using Node JS and took an online course where I have done 12 apps using Node js , MySQL and mongo db. Also working in the front end using HTML,CSS and Bootstrap..</p>
                            
</div>

 <div class="tab4">
                            <h2>Graphic Design</h2>
                            <p class="lead" >
                                I was also working as an architect and graphic designer which gives me the idea of the design concept and philosophy; I have 2 years experience working in 3D modeling using 3dmax and AutoCAD. Also experience in 2D design using Photoshop.  
                                  </p>
                           
 </div>
                    </div>
                </div>

<div class="col-md-4">
                    
 <img src="{{ "/assets/slide04.jpg" | relative_url}}"  class="photo img-responsive center-block" >
 </div>
     </div>       
    </div>
</div>
<!-- start clints -->
<section class="singup">
    <div class="container">
        <h1 class="text-center">Follow Me </h1>
        <h3 class="text-center">And See My Projects</h3>
      
 
 <ul class="list-unstyled social">
                    <li> <a href="https://www.linkedin.com/in/arsany-ghaly-b44b49178/?fbclid=IwAR0mkaGhPsoUBrr3BZUrsZA-e6c0o-_ao5kw9_i80mWntNIy9iu9VOm1lOw"> <img src="{{"/assets/i.png" | relative_url }}" alt="Card image"></a></li>
                    
                    <li> <a href="https://about.gitlab.com/"> <img src="{{"/assets/g.png"  | relative_url }}"  alt="Card image"></a></li>
                    
                    <li> <a href="https://twitter.com/"> <img src="{{"/assets/t.png"  | relative_url }}" alt="Card image"></a></li>
                    
                    <li> <a href="https://www.facebook.com/"> <img src="{{"/assets/f.png"  | relative_url }}" alt="Card image"></a></li>
                </ul>
  

 </div>
    
</section>


   