---
layout: default
title : home
---


  <!-- Start cluioer --> 
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img class="d-block w-100" src="{{ "/assets/slide01.jpg" | relative_url}}" alt="First slide">
			      <div class="carousel-caption d-none d-md-block  hidden-md">
			        <h1>Data Science</h1>
			        <p>This is my main construation and my favourate filed in computer science.i have experance in Python and R Along with the data analytics.
			        </p>
			       
</div>
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="{{ "/assets/slide02.jpg" | relative_url}}" alt="Second slide">
			      <div class="carousel-caption d-none d-md-block hidden-md">
			        <h1>Machine Learning </h1>
			        <p class=" lead text-center"> i have experance working with the machine learning engineering and ML algortthim which use for regression, classification and NLP.
			        </p>
			        
 </div>
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="{{ "/assets/slide03.jpg" | relative_url}}" alt="Third slide">
			      <div class="carousel-caption d-none d-md-block  hidden-md">
			        <h1>Web Development</h1>
			        <p>i have experance working with the web Devlopment using NodeJs for the backend and HTML, css and boot strap for the front eend .
			        </p>
			        
 </div>
			    </div>
			     <div class="carousel-item">
			      <img class="d-block w-100" src="{{ "/assets/slide04.jpg" | relative_url}}" alt="Third slide">
			       <div class="carousel-caption d-none d-md-block  hidden-md">
			        <h1>3D Graphic design </h1>
			        <p> i spend 3 years working on the 3d modling and 2d using 3d max. Vray and photoshop along with doing alot of interior design designs .
			        </p>
			     
 </div>
			    </div>

 <div class="carousel-item">
			      <img class="d-block w-100" src="{{ "/assets/slide01.jpg" | relative_url}}" alt="Third slide">
			       <div class="carousel-caption d-none d-md-block  hidden-md">
			        <h1>FULL stack </h1>
			        <p>  i have experiance working in many languages like c++, java , python, also doing desktop applications using javafx.
			        </p>
			     
 </div>
			    </div>





</div>
			  
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
<!-- end cluioer --> 


			       


<!-- end clints -->
<section class="singup">
			    <div class="container">
			        <h1 class="text-center">Learn More About Me  </h1>
			        <h3 class="text-center">DownLoad My resume</h3>
			      
<button class="btn btn-info btn-lg ss"><a href="{{ "/assets/resume.pdf" | relative_url}}" download>Resume</a></button>
			     
 

 </div>
			    </section>