<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.6.0 -->
<title>Stay Fly - {{ page.title }}.</title>


<!-- End Jekyll SEO tag -->
<link rel="stylesheet" href="{{ "/assets/bootstrap.min.css" | relative_url}}">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

 




</head>
<body><header class="site-header" role="banner">

  <div class="wrapper"><a class="site-title" rel="author" href="/">Stay Fly</a>
     
     <!-- Start Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
    
    <a class=" navbar-brand site-title" rel="author" href="/"> 
          <span id="second"> Stay..Fly</span>
    </a>
    
    <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#mynav" 
              aria-controls="mynav" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end " id="mynav">
      <ul class="navbar-nav">
       
        <li class="nav-item active">
          <a class="nav-link"  href="{{"/" | relative_url}}">{{ site.title | escape}} <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{"/about/" | relative_url}}">About</a>
        </li>
      </ul>
   </div>
  </nav>
 
    <!-- End Navbar -->






   </div>
</header>

{{ content }}
    <footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Stay Fly</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Stay Fly</li><li><a class="u-email" href="mailto:asghaly42@students.tntech.edu">asghaly42@students.tntech.edu</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
       
 <ul class="list-unstyled social">
                    <li> <a href="https://www.linkedin.com/in/arsany-ghaly-b44b49178/?fbclid=IwAR0mkaGhPsoUBrr3BZUrsZA-e6c0o-_ao5kw9_i80mWntNIy9iu9VOm1lOw"> <img src="{{"/assets/i.png" | relative_url }}" alt="Card image"></a></li>
                    
                    <li> <a href="https://about.gitlab.com/"> <img src="{{"/assets/g.png"  | relative_url }}"  alt="Card image"></a></li>
                    
                    <li> <a href="https://twitter.com/"> <img src="{{"/assets/t.png"  | relative_url }}" alt="Card image"></a></li>
                    
                    <li> <a href="https://www.facebook.com/"> <img src="{{"/assets/f.png"  | relative_url }}" alt="Card image"></a></li>
                </ul>
</div>

      <div class="footer-col footer-col-3">
        <p class="oo">A junior Data Scientist with 1+ years of experience in project work and freelancere skilled in machine learning,statistics, webdevelopment, problem solving and graphic Design.</p>
      </div>
    </div>

  </div>

</footer>
</body>
   <script src="{{ "/assets/jquery-1.11.1.min.js"  | relative_url }} "></script>  
<script src="{{ "/assets/bootstrap.js "  | relative_url}}"></script>
 <script src=" {{ "/assets/func.js "  | relative_url}}"></script>
  <script src=" {{ "/assets/html5shiv.min.js" | relative_url}}"></script>
</html>
